node_modules
dist
dist-ssr
test-results
playwright-report
artifacts
tests
playwright.config.ts

.git
.gitignore
.vscode
.idea
*.log
*.local

image.png
item-brand-kit-main
item-brand-kit-main.zip
*.zip
public/reference
